# 1. Write a program to Iterating string "Python" using for loop

In [5]:
str = "Python"

for i in str:
    print(i, end =" ")

P y t h o n

# 2. Write a program to print Table of a given number

In [18]:
a = int(input("Enter a number for the table"))

for i in range(1,11):
    print("{} * {} = {}".format(a,i,a*i) )

Enter a number for the table6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

# 3. Program to print the sum of the given list.

In [8]:
lst = [1,2,3,4,5,6,7,8,9,10]
sum1 = 0
for i in lst:
    sum1=sum1+i
print (sum1)

55

# 4. Program to print the difference of given list

In [17]:
lst = [33,45,21,34,78,44]
diff = 0
for i in lst:
    diff= i-diff
    print (diff)

33
12
9
25
53
-9

# 5. Program to print even number using in range().   Eg (2,4,6,8 )

In [9]:
a = int(input("Enter a number"))
for i in range (0,a):
    if (i%2==0):
        print(i)

Enter a number7
0
2
4
6

# 6. Write a Program to print 1 to 10 using while loop

In [10]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# 7. Write the program to iterate every element with Hello ! ? list = ['Peter','Joseph','Ricky','Devansh']

In [14]:
lst = ['Peter','Joseph','Ricky','Devansh']
for i in range(len(lst)):
    print(lst[i])

Peter
Joseph
Ricky
Devansh